################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.pdb
BACK/Prototype/Prototype/obj/staticwebassets.pack.sentinel
