.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  margin: 20px !important;
}
h1{
    text-align: center;
    border-radius: 99%;
    background-color: darkorange;
}
